/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Italianno&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*------------------------------------------General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/*---------------------------------------------Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

#logo {
    font-family: "Caveat";
    font-weight: 400;
}

/* -------------------------Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/*-----------------------------------------Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*--------------------------------------Main content */

main {
    background-color:#ffffff;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

#hero {
    height:600px;
    width: 100%;
    background: url("../images/italian-cusine-img.jpg") no-repeat center center/cover;
    position: relative;

 }

 #hero-text {
    text-align: center;
    font-size: 30px;
    font-family: "oswald", sans-serif; 
    margin-top: 10px; 
    font-weight: 300;
 }

 #maintext-home {
    text-shadow: 0.5px 0.5px 0.5px #000000;
    letter-spacing: 0.1em;
    color: black;
    margin-bottom: 35px;
    margin-top: 25px;
    text-align: center;
    font-size: 200%;
}

 .title {
    text-shadow: 1px 1px 1px #000000;
    text-transform: uppercase;
    margin-bottom:50px;
}

.steps {
    list-style-position: inside;
    list-style-type: decimal;
}

#maintext {
    letter-spacing: 0.1em;
    color: black;
    margin-bottom: 35px;
    margin-top: 90px;
    text-align: center;
    font-size: 200%;
}

#maintext-recipe {
    letter-spacing: 0.1em;
    color: black;
    margin-bottom: 35px;
    margin-top: 90px;
    text-align: center;
    font-size: 200%;
    font-weight: 500;
}

.sub-heading  {
    margin-bottom: 20px;

}



/*-----------------------------------------Content for MAIN ABOUT*/
#hero-text-about {
    text-align: center;
    font-size: 30px;
    font-family: "oswald", sans-serif; 
    margin-top: 10px; 
 }

 #hero-text-about > p {
    text-align: center;
    font-size: 25px;
    font-family: "LatoS", sans-serif; 
    margin-top: 50px; 
    margin-bottom:30px
 }

/*-----------------------------------------Main icons hover effect & color*/


h2 > a {
    box-shadow: inset 0 0 0 0 #CE2B37;
    color: black;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  h2 > a:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #009246;;
  }


#main-icons {
    font-family: "lato", sans-serif;
    letter-spacing: 0.2em;
    color:black;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#image-container {
    display:flex;
    justify-content: center;
    justify-content: space-around;
}

#image-container > a > img {
    box-shadow: 0 4px 8px rgba(0.4, 0.4, 0.4, 0.7);
    margin-top: 20px;
    margin-bottom: 20px;
    height: 400px;
    width: 400px;
}

 /*--------------------------------form contact us*/

#contact-us {
    background-image: url("../images/italian-cusine-img.jpg");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#form-heading {
    color:white;
    margin-bottom: 20px;
}

#contact-us-form {
    max-width: 600px;
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.text-input-feedback {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 200px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}
/*----------------------------send button--*/

.join-button {
    background-color:black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    font-family:"lato", sans-serif;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5%;
  }
  
  .join-button:hover {opacity: 1}



/*-----------------------------------------Footer */
footer {
    border-top: 1px solid #252525;
}
#copyright {
    color: black;
    text-align: center;
    font-family: "lato", sans-serif;
    margin-bottom: 5px;
    margin-top: 15px;
}

#social-networks {
    border-top: #252525;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main conent*/
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 720px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
    
}

/* Media query: tablets and larger (720px and up) */
@media screen and (max-width: 720px) {
    /* body */
    #main-icons {
        display: flex;
        flex-direction: column;
        align-self: center;
        box-shadow: none;
        width: fit-content;
        padding: 50px 15px 50px 15px;


    }
}

/*------------------Media query hides home page images on mobile--*/

@media screen and (max-width: 720px) {
    #image-container {
        display:none;
        }
        
    }


/*------------------Media query for homepage text--*/

@media screen and (max-width: 720px) {
    #hero-text, #main-text {
        text-align: center;
        font-size: 25px;
        font-family: "oswald", sans-serif; 
        margin-top: 10px; 
     }
}

/*------------------Media query for homepage icons--*/

@media screen and (max-width: 720px) {
    h2 > a {
        box-shadow: inset 0 0 0 0 #CE2B37;
        color: black;
        padding: 0 .25rem;
        margin: 0 -.25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
      }
      h2 > a:hover {
        color: #fff;
        box-shadow: inset 200px 0 0 0 #009246;;
      }
    
    #main-icons {
        font-family: "lato", sans-serif;
        letter-spacing: 0.2em;
        color:black;
        padding-bottom: 80px;
        margin-bottom: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
    }

    #main-icons div {
        margin-bottom: 40px;
        padding-left: 120%;
    }
     }